!Build/
.last_cover_stats
src/META.yml
src/META.json
src/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
src/blib/
src/_eumm/
src/*.gz
src/Makefile
src/Makefile.old
src/MANIFEST.bak
src/pm_to_blib
src/*.zip

# emacs backups
*~
